[submodule "asdc"]
	path = asdc
	url = git://github.com/pointybeard/asdc.git
[submodule "browsedevkit"]
	path = browsedevkit
	url = git://github.com/rowan-lewis/browsedevkit.git
[submodule "collapse_sectionfields"]
	path = collapse_sectionfields
	url = git://github.com/carsten/collapse_sectionfields.git
[submodule "configuration"]
	path = configuration
	url = git://github.com/bauhouse/configuration.git
[submodule "content_type_mappings"]
	path = content_type_mappings
	url = git://github.com/pointybeard/content_type_mappings.git
[submodule "debugdevkit"]
	path = debugdevkit
	url = git://github.com/symphony/debugdevkit.git
[submodule "enhancedtaglist"]
	path = enhancedtaglist
	url = git://github.com/czheng/enhancedtaglist.git
[submodule "entity_diagram"]
	path = entity_diagram
	url = git://github.com/nickdunn/entity_diagram.git
[submodule "export_ensemble"]
	path = export_ensemble
	url = git://github.com/bauhouse/export_ensemble.git
[submodule "export_install_file"]
	path = export_install_file
	url = git://github.com/bauhouse/export_install_file.git
[submodule "globalparamloader"]
	path = globalparamloader
	url = git://github.com/carsten/globalparamloader.git
[submodule "globalresourceloader"]
	path = globalresourceloader
	url = git://github.com/rowan-lewis/globalresourceloader.git
[submodule "jit_image_manipulation"]
	path = jit_image_manipulation
	url = git://github.com/pointybeard/jit_image_manipulation.git
[submodule "library"]
	path = library
	url = git://github.com/bauhouse/library.git
[submodule "logsdevkit"]
	path = logsdevkit
	url = git://github.com/rowan-lewis/logsdevkit.git
[submodule "maintenance_mode"]
	path = maintenance_mode
	url = git://github.com/pointybeard/maintenance_mode.git
[submodule "markdown"]
	path = markdown
	url = git://github.com/pointybeard/markdown.git
[submodule "members"]
	path = members
	url = git://github.com/bauhouse/members.git
[submodule "numberfield"]
	path = numberfield
	url = git://github.com/pointybeard/numberfield.git
[submodule "order_entries"]
	path = order_entries
	url = git://github.com/nickdunn/order_entries.git
[submodule "pagesfield"]
	path = pagesfield
	url = git://github.com/pointybeard/pagesfield.git
[submodule "populate_entry"]
	path = populate_entry
	url = git://github.com/carsten/populate_entry.git
[submodule "profiledevkit"]
	path = profiledevkit
	url = git://github.com/symphony/profiledevkit.git
[submodule "publishfiltering"]
	path = publishfiltering
	url = git://github.com/nickdunn/publishfiltering.git
[submodule "publishnotesfield"]
	path = publishnotesfield
	url = git://github.com/makenosound/publishnotesfield.git
[submodule "referencelink"]
	path = referencelink
	url = git://github.com/czheng/referencelink.git
[submodule "reflectionfield"]
	path = reflectionfield
	url = git://github.com/rowan-lewis/reflectionfield.git
[submodule "section_schemas"]
	path = section_schemas
	url = git://github.com/nickdunn/section_schemas.git
[submodule "selectbox_link_field"]
	path = selectbox_link_field
	url = git://github.com/pointybeard/selectbox_link_field.git
[submodule "textboxfield"]
	path = textboxfield
	url = git://github.com/rowan-lewis/textboxfield.git
