[submodule "filterfield"]
	path = filterfield
	url = git://github.com/ahwayakchih/filterfield.git
[submodule "gcse"]
	path = gcse
	url = git://github.com/ahwayakchih/gcse.git
[submodule "languagefield"]
	path = languagefield
	url = git://github.com/ahwayakchih/languagefield.git
[submodule "markitup"]
	path = markitup
	url = git://github.com/ahwayakchih/markitup.git
[submodule "templatedtextformatters"]
	path = templatedtextformatters
	url = git://github.com/ahwayakchih/templatedtextformatters.git
[submodule "ysboss"]
	path = ysboss
	url = git://github.com/ahwayakchih/ysboss.git
[submodule "Downloadable-Page-Type"]
	path = Downloadable-Page-Type
	url = git://github.com/ashooner/Downloadable-Page-Type.git
[submodule "collapse_sectionfields"]
	path = collapse_sectionfields
	url = git://github.com/carsten/collapse_sectionfields.git
[submodule "globalparamloader"]
	path = globalparamloader
	url = git://github.com/carsten/globalparamloader.git
[submodule "populate_entry"]
	path = populate_entry
	url = git://github.com/carsten/populate_entry.git
[submodule "enhancedtaglist"]
	path = enhancedtaglist
	url = git://github.com/czheng/enhancedtaglist.git
[submodule "pagetemplates"]
	path = pagetemplates
	url = git://github.com/czheng/pagetemplates.git
[submodule "referencelink"]
	path = referencelink
	url = git://github.com/czheng/referencelink.git
[submodule "multiselect_to_checkboxes"]
	path = multiselect_to_checkboxes
	url = git://github.com/Demwunz/multiselect_to_checkboxes.git
[submodule "mailchimp"]
	path = mailchimp
	url = git://github.com/lewiswharf/mailchimp.git
[submodule "new_visiter"]
	path = new_visiter
	url = git://github.com/lewiswharf/new_visiter.git
[submodule "cachelite"]
	path = cachelite
	url = git://github.com/makenosound/cachelite.git
[submodule "dynamic_event_redirect"]
	path = dynamic_event_redirect
	url = git://github.com/makenosound/dynamic_event_redirect.git
[submodule "paypal_payments"]
	path = paypal_payments
	url = git://github.com/makenosound/paypal_payments.git
[submodule "publishnotesfield"]
	path = publishnotesfield
	url = git://github.com/makenosound/publishnotesfield.git
[submodule "shrimp"]
	path = shrimp
	url = git://github.com/makenosound/shrimp.git
[submodule "admin_css_override"]
	path = admin_css_override
	url = git://github.com/michael-e/admin_css_override.git
[submodule "textformatter_labels"]
	path = textformatter_labels
	url = git://github.com/michael-e/textformatter_labels.git
[submodule "uniqueuploadfield"]
	path = uniqueuploadfield
	url = git://github.com/michael-e/uniqueuploadfield.git
[submodule "symphony_color_chooser"]
	path = symphony_color_chooser
	url = git://github.com/MrBlank/symphony_color_chooser.git
[submodule "entity_diagram"]
	path = entity_diagram
	url = git://github.com/nickdunn/entity_diagram.git
[submodule "firebug_profiler"]
	path = firebug_profiler
	url = git://github.com/nickdunn/firebug_profiler.git
[submodule "gravatar"]
	path = gravatar
	url = git://github.com/nickdunn/gravatar.git
[submodule "order_entries"]
	path = order_entries
	url = git://github.com/nickdunn/order_entries.git
[submodule "pingomatic"]
	path = pingomatic
	url = git://github.com/nickdunn/pingomatic.git
[submodule "publishfiltering"]
	path = publishfiltering
	url = git://github.com/nickdunn/publishfiltering.git
[submodule "section_schemas"]
	path = section_schemas
	url = git://github.com/nickdunn/section_schemas.git
[submodule "uploadify"]
	path = uploadify
	url = git://github.com/nickdunn/uploadify.git
[submodule "vimeo_videos"]
	path = vimeo_videos
	url = git://github.com/nickdunn/vimeo_videos.git
[submodule "german"]
	path = german
	url = git://github.com/nilshoerrmann/german.git
[submodule "mediathek"]
	path = mediathek
	url = git://github.com/nilshoerrmann/mediathek.git
[submodule "EnableTabkey"]
	path = EnableTabkey
	url = git://github.com/phoque/EnableTabkey.git
[submodule "jQueryfor202"]
	path = jQueryfor202
	url = git://github.com/phoque/jQueryfor202.git
[submodule "NoEditing"]
	path = NoEditing
	url = git://github.com/phoque/NoEditing.git
[submodule "akismet"]
	path = akismet
	url = git://github.com/pointybeard/akismet.git
[submodule "asdc"]
	path = asdc
	url = git://github.com/pointybeard/asdc.git
[submodule "breadcrumb"]
	path = breadcrumb
	url = git://github.com/pointybeard/breadcrumb.git
[submodule "content_type_mappings"]
	path = content_type_mappings
	url = git://github.com/pointybeard/content_type_mappings.git
[submodule "cookiemonster"]
	path = cookiemonster
	url = git://github.com/pointybeard/cookiemonster.git
[submodule "export_ensemble"]
	path = export_ensemble
	url = git://github.com/pointybeard/export_ensemble.git
[submodule "extension--time-field"]
	path = extension--time-field
	url = git://github.com/pointybeard/extension--time-field.git
[submodule "filemanager"]
	path = filemanager
	url = git://github.com/pointybeard/filemanager.git
[submodule "frontend_authentication"]
	path = frontend_authentication
	url = git://github.com/pointybeard/frontend_authentication.git
[submodule "hashfield"]
	path = hashfield
	url = git://github.com/pointybeard/hashfield.git
[submodule "iplocation_lookup"]
	path = iplocation_lookup
	url = git://github.com/pointybeard/iplocation_lookup.git
[submodule "jit_image_manipulation"]
	path = jit_image_manipulation
	url = git://github.com/pointybeard/jit_image_manipulation.git
[submodule "maintenance_mode"]
	path = maintenance_mode
	url = git://github.com/pointybeard/maintenance_mode.git
[submodule "maplocationfield"]
	path = maplocationfield
	url = git://github.com/pointybeard/maplocationfield.git
[submodule "markdown"]
	path = markdown
	url = git://github.com/pointybeard/markdown.git
[submodule "numberfield"]
	path = numberfield
	url = git://github.com/pointybeard/numberfield.git
[submodule "pages_editor_minimal"]
	path = pages_editor_minimal
	url = git://github.com/pointybeard/pages_editor_minimal.git
[submodule "pagesfield"]
	path = pagesfield
	url = git://github.com/pointybeard/pagesfield.git
[submodule "recaptcha"]
	path = recaptcha
	url = git://github.com/pointybeard/recaptcha.git
[submodule "richtext_tinymce"]
	path = richtext_tinymce
	url = git://github.com/pointybeard/richtext_tinymce.git
[submodule "selectbox_link_field"]
	path = selectbox_link_field
	url = git://github.com/pointybeard/selectbox_link_field.git
[submodule "serverheaders"]
	path = serverheaders
	url = git://github.com/pointybeard/serverheaders.git
[submodule "sessionmonster"]
	path = sessionmonster
	url = git://github.com/pointybeard/sessionmonster.git
[submodule "uniqueinputfield"]
	path = uniqueinputfield
	url = git://github.com/pointybeard/uniqueinputfield.git
[submodule "xmlfield"]
	path = xmlfield
	url = git://github.com/pointybeard/xmlfield.git
[submodule "activitylog"]
	path = activitylog
	url = git://github.com/rowan-lewis/activitylog.git
[submodule "bilinkfield"]
	path = bilinkfield
	url = git://github.com/rowan-lewis/bilinkfield.git
[submodule "browsedevkit"]
	path = browsedevkit
	url = git://github.com/rowan-lewis/browsedevkit.git
[submodule "calendaroverlay"]
	path = calendaroverlay
	url = git://github.com/rowan-lewis/calendaroverlay.git
[submodule "canofspam"]
	path = canofspam
	url = git://github.com/rowan-lewis/canofspam.git
[submodule "cleanurlparams"]
	path = cleanurlparams
	url = git://github.com/rowan-lewis/cleanurlparams.git
[submodule "emailtemplatefilter"]
	path = emailtemplatefilter
	url = git://github.com/rowan-lewis/emailtemplatefilter.git
[submodule "expressionfield"]
	path = expressionfield
	url = git://github.com/rowan-lewis/expressionfield.git
[submodule "flexdatefield"]
	path = flexdatefield
	url = git://github.com/rowan-lewis/flexdatefield.git
[submodule "frontendmembermanager"]
	path = frontendmembermanager
	url = git://github.com/rowan-lewis/frontendmembermanager.git
[submodule "globalresourceloader"]
	path = globalresourceloader
	url = git://github.com/rowan-lewis/globalresourceloader.git
[submodule "htmlformatter"]
	path = htmlformatter
	url = git://github.com/rowan-lewis/htmlformatter.git
[submodule "logsdevkit"]
	path = logsdevkit
	url = git://github.com/rowan-lewis/logsdevkit.git
[submodule "numericgroupingfield"]
	path = numericgroupingfield
	url = git://github.com/rowan-lewis/numericgroupingfield.git
[submodule "reflectionfield"]
	path = reflectionfield
	url = git://github.com/rowan-lewis/reflectionfield.git
[submodule "repeatingdatefield"]
	path = repeatingdatefield
	url = git://github.com/rowan-lewis/repeatingdatefield.git
[submodule "textboxfield"]
	path = textboxfield
	url = git://github.com/rowan-lewis/textboxfield.git
[submodule "textileplusformatter"]
	path = textileplusformatter
	url = git://github.com/rowan-lewis/textileplusformatter.git
[submodule "mass-upload-utility"]
	path = mass-upload-utility
	url = git://github.com/scottkf/mass-upload-utility.git
[submodule "pessimistic-db-locking"]
	path = pessimistic-db-locking
	url = git://github.com/scottkf/pessimistic-db-locking.git
[submodule "page_fields"]
	path = page_fields
	url = git://github.com/skeary/page_fields.git
[submodule "debugdevkit"]
	path = debugdevkit
	url = git://github.com/symphony/debugdevkit.git
[submodule "profiledevkit"]
	path = profiledevkit
	url = git://github.com/symphony/profiledevkit.git
[submodule "signedfileuploadfield"]
	path = signedfileuploadfield
	url = git://github.com/tonyarnold/signedfileuploadfield.git
[submodule "typogrify"]
	path = typogrify
	url = git://github.com/tonyarnold/typogrify.git
[submodule "eventex"]
	path = eventex
	url = git://github.com/yourheropaul/eventex.git
[submodule "xml_selectbox"]
	path = xml_selectbox
	url = git://github.com/tonyarnold/xml_selectbox.git
[submodule "additional_page_types"]
	path = additional_page_types
	url = git://github.com/makenosound/additional_page_types.git
[submodule "advancedtaglist"]
	path = advancedtaglist
	url = git://github.com/pointybeard/advancedtaglist.git
[submodule "advanceduploadfield"]
	path = advanceduploadfield
	url = git://github.com/rowan-lewis/advanceduploadfield.git
[submodule "curlinputfield"]
	path = curlinputfield
	url = git://github.com/rowan-lewis/curlinputfield.git
[submodule "datasource_cache"]
	path = datasource_cache
	url = git://github.com/nickdunn/datasource_cache.git
[submodule "datetaglistfield"]
	path = datetaglistfield
	url = git://github.com/rowan-lewis/datetaglistfield.git
[submodule "importmanager"]
	path = importmanager
	url = git://github.com/rowan-lewis/importmanager.git
[submodule "improvedpageresolve"]
	path = improvedpageresolve
	url = git://github.com/ahwayakchih/improvedpageresolve.git
[submodule "incrementnumberfield"]
	path = incrementnumberfield
	url = git://github.com/nickdunn/incrementnumberfield.git
[submodule "jquery_date_picker"]
	path = jquery_date_picker
	url = git://github.com/makenosound/jquery_date_picker.git
[submodule "nested_cats"]
	path = nested_cats
	url = git://github.com/andrrr/nested_cats.git
[submodule "selectboxfilter"]
	path = selectboxfilter
	url = git://github.com/rowan-lewis/selectboxfilter.git
[submodule "seomanager"]
	path = seomanager
	url = git://github.com/rowan-lewis/seomanager.git
[submodule "subsectionfield"]
	path = subsectionfield
	url = git://github.com/rowan-lewis/subsectionfield.git
[submodule "translationmanager"]
	path = translationmanager
	url = git://github.com/ahwayakchih/translationmanager.git
[submodule "widgeditor"]
	path = widgeditor
	url = git://github.com/makenosound/widgeditor.git
